* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    color: white;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}



// CLOCK STYLING

.clock {
    height: 250px;
    width: 250px;
    background-image: url('/images/clock.png');
    background-size: cover;
    border: 2px solid white;
    /* box-shadow: inset 0 -15px 15px rgba(255,255,255,0.1),
                inset 0 15px 15px rgba(0,0,0,0.1);
                0 -15px 15px rgba(255,255,255,0.1),
                0 15px 15px rgba(0,0,0,0.1); */
    margin: 50px auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .hour, .min, .sec {
        position: absolute;
    }

    .hour, .hr {
        width: 160px;
        height: 160px;
    }

    .min, .mn {
        width: 190px;
        height: 190px;
    }

    .sec, .sc {
        width: 230px;
        height: 230px;
    }

    .hr, .mn, .sc {
        display: flex;
        justify-content: center;
    }
    .hr::before {
        content: '';
        position: absolute;
        width: 6px;
        height: 82px;
        background-color: white;
        border-radius: 6px;
        z-index: 5;
    }
    .mn::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 97px;
        background-color: white;
        border-radius: 6px;
        z-index: 6;
    }
    .sc::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 115px;
        background-color: white;
        border-radius: 6px;
        z-index: 7;
    }
}




/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}